* {
  margin: 0em;
  padding: 0em;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

body {
  font-size: 13px;
  .main_top {
    width: 45px;
    height: 45px;
    text-align: center;
    background-color:rgba(84, 68, 46,0.5);
    position: fixed;
    bottom: 3em;
    right: 1.5em;
    border-radius: 10px;
    z-index: 100;
    display: none;

    &:hover{
      background-color:rgba(84, 68, 46,0.9);   
    }

    i {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.7);
      margin-top: 5px;
    }
  }

  header {
    width: 90%;
    margin: 0em auto;
    margin-top: 2em;

    .logo {
      display: flex;
      margin-bottom: 0.5em;
      

      div {
        .fa-leaf{
          width: 40px;
          font-size: 40px;
          margin-right: 0.5em;
          margin-top: 0.5em;
          color: #686868;
        }
      }
        h2{
          color: #686868;
        }
        p{

        }
    }

    nav {
      position: relative;
      width: 100%;
      margin: 0em auto;
      z-index: 20;

      .menu {
        display: flex;
        justify-content: space-between;
        background-color: #EDEDED;
        border: 1px solid #F3F3F5;
        padding: 0.9em;
        width: 100%;
        margin: 1em auto;
        cursor: pointer;
      }

      ul {
        display: none;
        position: absolute;
        top: 35px;
        width: 100%;
        background-color: #EDEDED;
        padding: 0.2em;
        border: 1px solid;
        color: #000;
        text-align: left;
        overflow-y: scroll;
        .fa{
          display: none;
        }
        .sub_nav{
          display: none;
        }
        div{
          margin: 0em;
          padding: 0em;
          text-align: left;
          .nav_pin{
            display: none;
          }
        }
        a, li{
          text-decoration: none;
          color: #000000;
          display: block;
          padding-left: 5px;
          margin-top: 5px;
          &:hover{
            background-color: rgb(118, 155, 255);
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }

  main {
    .section1 {
      position: relative;
      background-color: #54442E;
      color: #ffffff;
      margin: 2em 0em;
      padding: 0.5em;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .back{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: url('./images/1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.4;
      }

      .column1 {
        grid-column: span 12;
        padding: 2em;
        text-align: center;
        z-index: 3;

        h1 {
          margin-bottom: 1em;
          font-size: 2em;
        }
      }

      .column2 {
        grid-column: span 12;
        width: 100%;
        z-index: 3;
        position: relative;
        .column2_con{
          width: 95%;
          margin: 1em auto;
          padding-top: 1.5em;
          height: 100%;
          background-image: url('./images/home3.jpg');
          background-repeat: no-repeat;
          background-size: 100%;
          .tracker_container {
            width: 80%;
            height: 150px;
            margin: auto auto;
            margin-top: 1em;
  
            .trackers {
              text-align: center;
              width: 200px;
              margin: 0em auto;
  
              .tracker {
                width:2px;
                height: 2px;
                padding: 0em 0.5em;
                border: 2px solid;
                border-radius: 100px;
  
                margin-right: 11px;
              }
            }
  
            .direction {
              display: flex;
              justify-content: space-between;
              padding: 10px 20px;
              display: none;
              
              
  
              .prev_wrapper {
                border: 2px solid;
                width: 50px;
                border-radius: 50px;
                padding: 5px;
                transition: 500ms;
                opacity: 0.7;
                &:hover{
                  opacity: 1;
                }
  
                .glyphicon-chevron-left {
                  font-size: 30px;
                }
              }
  
              .next_wrapper {
                border: 2px solid;
                width: 50px;
                padding: 5px;
                border-radius: 50px;
                transition: 500ms;
                opacity: 0.7;
                &:hover{
                  opacity: 1;
                }
  
                .glyphicon-chevron-right {
                  font-size: 30px;
                }
              }
            }
          }
        }
        
      }

      .column3 {
        grid-column: span 12;
        padding: 2em;
        width: 95%;
        margin: 0.5em auto;
        background-color: #54442E;
        margin-bottom: -20px;
        z-index: 3;
        h2 {
          border-bottom: 0.5px solid #8E7050;
          margin: 1em 0em;
          padding-bottom: 1em;
        }

        form {
          text-align: center;

         div{
           position: relative;
           .fa{
             position: absolute;
             top: 18px;
             left: 5px;
             font-size: 25px;
             width: 10px;
             color: #54442E;

           }
         }

          input[type=text] {
            width: 100%;
            margin: 1em 0em;
            border-radius: 10px;
            padding: 0.5em 0em;
            padding-left: 1.7em;
            background-color: #E3CE90;
            color: #54442E;
          }

          input[type=submit] {
            width: 100px;
            font-size: 20px;
            border-radius: 10px;
            padding: 0.3em;
            background-color: #8E7050;
            color: #ffffff;
            margin-top: 0.5em;
          }
        }
      }
    }

    .section2 {
      margin-top: -2em;
      background-color: #ECECEC;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding: 3em 0em;


      div {
        text-align: center;
        width: 90%;
        margin: 0em auto;
        padding-bottom: 3em;

        .fa-gbp{
          color: #007AA0;
        }

        .fa-user{
          color: #76A442;
        }
        .fa-bullhorn{
          color: #FF9900;
        }

        .fa-signal {
          color: #A081AA;
        }

        h3 {
          font-size: 1.5em;
          color: #8E7050;
          margin-top: 0;
        }

        p {
          margin: 1em 0em;
        }
      }

      .column1 {
        grid-column: span 12;
      }

      .column2 {
        grid-column: span 12;
      }

      .column3 {
        grid-column: span 12;
      }

      .column4 {
        grid-column: span 12;
      }
    }

    .section3 {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding: 4em 1em;
      a{
        color: #E9B977;
        text-decoration: none;
      }
      img{
      width: 90%;
      }
      .column{
        h3 {
          font-size: 1.3em;
          margin: 0.8em 0em;
          color: #8E7050;
        }

        .info {
          display: flex;
          margin-bottom: 1em;
          flex-wrap: wrap;
          font-size: 0.8em;


          span {
            margin-right: 0.5em;
          }
        }

        button {
          width: 100px;
          padding: 0.4em 0em;
          border-radius: 10px;
          background-color: #8E7050;
          color: #ffffff;
          margin: 1em 0em;
          transition: 500ms;

          &:hover {
            background-color: #54442E;
          }
        }
      }
      .column1 {
        grid-column: span 12;      
      }

      .column2 {
        grid-column: span 12;
      }

      .column3 {
        grid-column: span 12;
        .box {
          a{
            display: flex;
          flex-wrap: wrap;
          background-color: #54442E;
          color: #ffffff;
          padding: 1.5em;
          margin-bottom: 2em;
          text-decoration: none;
          p{
            display: inline;
            margin-top: 0;
          }

          .fa {
            width: 40px;
            font-size: 60px;
            margin-right: 0.3em;
            display: inline;
          }

          h2 {
            color: #302b24;
            font-size: 1.5em;
            display: inline;
            margin-bottom: 0;
          }
          
          &:hover {
            background-color: #704e2e;
            color: #ffffff;
            h2{
              color:#54442E ;
            }
          }
          }
        }
      }
    }

    .section4 {
      background-color: #ECECEC;
      padding: 1em;
      display: grid;
      grid-template-columns: repeat(12, 1fr);

      .column1 {
        grid-column: span 12;
        width: 1005;

        .leaf_box {
          width: 70px;
          height: 70px;
          background-color: #ffffff;
          border-radius: 60px;
          padding: 7px;
          margin: 2em 0em;
          .fa-leaf {
            width: 50px;
            font-size: 40px;
            margin-top: 11px;
            margin-left: 6px;
          }
        }
        h2{
          margin: 1em 0em;
          color: #686868;
        }

        .footer1 {
          img {
            width: 90%;
            border-radius: 0em;
            margin: 1em 0em;
          }
        }

        div {
          p {
            margin: 0.6em 0em;
          }
        }
      }

      .column2 {
        grid-column: span 12;

        .info_box {
          width: 70px;
          height: 70px;
          background-color: #ffffff;
          border-radius: 60px;
          padding-top: 9px;
          margin: 2em 0em;
          text-align: center;
          .fa-info {
            width: 50px;
            font-size: 45px;
          }
        }

        p {
          margin-top: 2em;
        }

        form {
          input[type=text] {
            width: 100%;
            margin: 1em 0em;
            border-radius: 10px;
            padding: 0.5em;
            border: none;
          }

          input[type=submit] {
            width: 80px;
            border-radius: 10px;
            padding: 0.5em;
            background-color: #8E7050;
            color: #ffffff;
          }
        }

        .social_media {
          display: flex;

          div {
            margin: 0em 0.1em;
            width: 30px;
            height: 30px;
            border-radius: 60px;
            padding-top: 7px;
            display: inline;
            transition: 500ms;
            background-color: #E1E0DF;
            text-align: center;
  
            span {
              font-size: 16px;
            }
            &:hover{
              background-color: #54442E;
              color: #ffffff;
            }
          }
        }
      }

      .column3 {
        grid-column: span 12;
        margin: 2em 0em;

        .earphone {
          width: 60px;
          border-radius: 50px;
          padding: 0.6em 1em;
          background-color: #ffffff;

          span {
            width: 50px;
            font-size: 40px;
            border-radius: 40px;
          }
        }

        h3 {
          margin: 1em 0em;
          font-size: 1.5em;
        }

        div {
          margin: 2em 0em;
        }

        .infos {
          display: flex;
          margin: 0px;

          .glyphicon {
            width: 15px;
            margin-right: 0.3em;
          }
        }

        .phone {
          display: flex;
          margin: 0.7em 0em;
          .fa{
            margin-right: 0.2em;
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    background-color: #242424;
    color: #ffffff;
    padding: 2em;
    margin-bottom: 2em;
    p{
     color: #686868;
    }
     a{
       color: #8E6436;
       &:hover{
        color: #8E6436;
        text-decoration: none;
       }
       
     }
   .donate{
     color: #8E6436;
     font-size: 30px;
   }
  }
}

@import './mediaQueries'